.ecosystem-main{
  padding: 50px;
  background-image: url(https://alephzero.org/aleph-design/images/featured-panel-features.svg?05abcf8ee9c56ae7611bd6bb87670dac);
  background-repeat: no-repeat;
  background-color:#111B24;
}