.environment-main {
  background-image: url("../images/bg3.svg");
  margin-top: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 7%;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-end;
  padding-top: 8%;
}
.ant-card
{
  border-radius: 0 !important;
}

.environment-main .card-tag {
  display: flex;
  border: 1px solid #1b2b38;
  width: 50%;
  height: 180px;
}

.environment-main .ant-card-cover {
  width: 50%;
  overflow: hidden;
}

.environment-main .ant-card-body {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.environment-main .ant-card .ant-card-body {
  padding: 0px !important;
  border-radius: 0 0 0px 0px !important;
}

.environment-main .ant-card-meta-title {
  text-align: initial;
  width: 85%;
  border-left: 2px solid #00eac7;
  padding-left: 5%;
}

.environment-main .ant-card-meta-detail {
  padding-left: 8%;
}
.environment-main .ant-card-meta-detail:hover {
  padding-left: 5%;
  transition: 0.5s all ease-in-out;
}

.environment-main .ant-card-meta-description {
  display: flex;
  justify-content: flex-end;
  padding-right: 14%;
}

.environment-main .card-img {
  height: 100%;
  transition: 0.5s all ease-in-out;
}

.environment-main .card-img:hover {
  transform: scale(1.1);
}

.environment-main .ant-card .ant-card-meta-description {
  color: white;
}

.environment-main .ant-card .ant-card-meta-title {
  overflow: visible !important;
  white-space: normal !important;
  color: white;
  font-size: 23px;
}

.environment-main .ant-card {
  background-color: #14202a;
  color: white;
  overflow: hidden;
  line-height: 1.2 !important;
}




.environment-main .card-bottom{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 6%;
  align-items: flex-end;
}

.environment-main .ant-card:hover .card-img  {
  transform: scale(1.1);
  
}
.environment-main .ant-card:hover .ant-card-meta-detail  {
  padding-left: 5%;
  transition: 0.5s all ease-in-out;
}

 .bottom-tag{
  padding-right: 1%;
  color: #00eac7;
  font-weight: 500;
  margin-bottom: 0;
}
.bottom-tag-arrow{

  color: #00eac7;
}
.bottom-tag .bottom-tag-arrow :hover{
  color: #7FF3E2;
}