.marquee-img-tag {
  padding-left: 30px;
}

.marquee {
  overflow: hidden;
}
.marquee-content {
  display: flex;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 80px;
  animation: horizenatl 10s linear infinite;
}
.marquee-item {
  flex: 0 0 16vw;
  margin: 0 1vw;
  display: flex;
  align-items: center;
}
.marquee-item img {
  display: block;
  width: 100%;
  width: 80%;
}
@keyframes horizenatl {

  from {
    transform: translateX(0);

  }
  to{transform: translateX(-50%);

  }
}

.marquee-content:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  
}

.marquee-title {
  opacity: 1;
  color: #b8b8b9;
  padding-top: 10px;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2%;

}
.marquee-img{
  width: 62%;
    height: 70%;
}

.marquee-content:hover .opac  {
  opacity: 0.1 !important;
}
.marquee-content .opac:hover {
  opacity: 1 !important;
}