.network-main {
  background-image: url(https://alephzero.org/aleph-design/images/featured-panel-roadmap.svg?016e93e4ec3651cec8e6f27e831c8fba);
 
  background-repeat: no-repeat;
  background-position: right center;
  padding-left: 7%;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  padding-top: 10%;
  align-items: center;
}


.network-main .card-tag {
  display: flex;
  border: 1px solid #1b2b38;
  width: 50%;
  height: 180px;
  align-items: center;
}

.network-main .ant-card-cover{
    width: 50%;
    overflow: hidden;
    height: 100%;
}

.network-main .ant-card-body{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* gap: 18%; */
    height: 100%;
    justify-content: space-between;
}
.network-main .ant-card .ant-card-body{
  padding: 0px !important;
    border-radius: 0 0 0px 0px !important;
}


.network-main .ant-card-meta-title{
  text-align: initial;
  width: 85%;
  border-left: 2px solid #00eac7;
  padding-left: 5%;
}

.network-main .ant-card-meta-detail{

  padding-left: 8%;
}
/* .network-main .ant-card-meta-detail:hover{

  padding-left: 5%;
  transition: 0.5s all ease-in-out;
} */

.network-main .ant-card-meta-description{
  display: flex;
  justify-content: flex-end;
  padding-right: 14%;
}




.network-main .card-img {
  height: 100%;
  transition: 0.5s all ease-in-out;
}


/* .network-main .card-img:hover {
  transform: scale(1.1);

} */




.network-main .ant-card .ant-card-meta-description {
  color: white;
}

.network-main .ant-card .ant-card-meta-title {
  overflow: visible !important;
  white-space: normal !important;
  color: white;
  font-size: 23px;
}



.network-main .ant-card {
  background-color: #14202a;
  color: white;
  overflow: hidden;
  line-height: 1.2 !important;
}


.network-main .card-bottom{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 6%;
  align-items: flex-end;
}

.network-main .ant-card:hover .card-img  {
  transform: scale(1.1);
  
}
.network-main .ant-card:hover .ant-card-meta-detail  {
  padding-left: 5%;
  transition: 0.5s all ease-in-out;
}

 .bottom-tag{
  padding-right: 1%;
  color: #00eac7;
  font-weight: 500;
  margin-bottom: 0;
}
.bottom-tag-arrow{

  color: #00eac7;
}
.bottom-tag .bottom-tag-arrow :hover{
  color: #7FF3E2;
}