.slider {
  width: 100%;
  display: flex;

  background-color: aqua;
  overflow: hidden;
}
.slick-track {
  color: azure;
}
.div-tag h3 {
  background-color: rgb(91, 104, 104);
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
}
.main {
  display: flex;
  height: 600px;
  width: 600px;
  overflow: hidden;
}
